body{
  font-family: "Poppins", sans-serif;
  /* background-color: #006432; */
  padding: 0;
  margin: 0;
}

/* .contextual-region ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.contextual-region ul li{
  padding: 1em;
  border: 1px solid grey;
  background-color: grey;
} */

h1, h2, h3, h4, h5, h6{
  line-height: 2.71rem;
  letter-spacing: 0.12rem;
  font-family: "Superclarendon", sans-serif;
  text-transform: uppercase;
}

header div:nth-child(1){
  width: 20%;
}

header div:nth-child(2){
  width: 60%;
}

header div:nth-child(3){
  width: 20%;
}

#block-estrelladelevante-site-branding img{
  width: 15vw;
}

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffff;
  margin: 0 0 0 0;
  padding: 1em;
}

header nav {
  width: 100%;
  font-family: "Superclarendon", sans-serif;
  text-transform: uppercase;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  font-size: 1rem;
}

header nav ul li{
  width: auto;
}

header nav ul li a{
  border-right: 1px solid rgb(22, 113, 22);
  padding-right: 1em;
  padding-left: 1em;
  text-decoration: none;
  color: rgb(22, 113, 22);
}

header nav ul li:last-child a{
  border-right: 1px solid transparent;
}

a:hover{
  color: rgb(232, 202, 5);
}

div[role="contentinfo"]{
  padding: 1em;
  margin: 0.5em;
  background-color: rgb(136, 207, 136);
  color: rgb(1, 87, 1);
  font-weight: bold;
  font-size: 1.2rem;
}

main{
  margin-top: 1em;
}

.fondo-imagen div img{
  margin-left: 45%;
}

.titulo-cabecera div{
  text-align: center;
  font-family: "Superclarendon", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
  width: 90%;
  margin-top: -20%;
  margin-bottom: 10%;
}

.productos-destacados{
  background-color: #fff;
  padding: 2em;
}

.imagen-bloque-noticias{
  margin-left: 30%;
}

.titulo-bloque-noticias{
  text-align: center;
}

.titulo-bloque-noticias a{
  color: green;
  text-decoration: none;
}

.titulo-bloque-noticias a:hover{
  color: rgb(232, 202, 5);
}

#block-iconcursodetiraje{
  background-color: #fff;
  padding: 3em;
}

#block-iconcursodetiraje .titulo-concurso{
  font-family: "Superclarendon", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(22, 113, 22);
}

footer{
  background-color: rgb(255, 255, 255);
  padding: 2em;
  color: rgb(0, 0, 0);
  margin-top: 1em;
}

.pager{
  width: 80%;
  margin: 0 auto;
}

.pager .pager__items{
  display: flex;
  justify-content: right;
  list-style: none;
}

.pager__item a{
  background-color: white;
  color: black;
  padding: 1em;
  text-decoration: none;
}

.pager__item a:hover{
  background-color: rgb(232, 202, 5);
  color: white;
}

.pager__item.is-active a{
  background-color: rgb(232, 202, 5);
  color: white;
}

.more-link{
  text-align: end;
  width: 50%;
  margin: 0 auto;
}

.more-link a{
  color: #fff;
}

.contact-form-block, #block-estrelladelevante-views-block-noticias-block-1{
  padding: 5em;
  background-color: #006432;
  height: 43vw;
}

.contact-form-block, .contact-form-block a{
  color: white;
}

.contact-form-block{
  padding-right: 4em;
  padding-left: 4em;
}

.contact-form-block h1{
  text-align: start;
}

footer .layout{
  display: flex;
}
footer img{
  width: 200px;
  height: 100px;
}
footer .layout__region--second div div{
  display: flex;
  justify-content: space-between;
}
footer{
  padding: 3em 4em;
  margin-top: 0 !important;
}
footer ul{
  list-style: none;
}
footer a{
  text-transform: uppercase;
  text-decoration: none;
  color: #034624;
}
footer a:hover{
  color: rgb(232, 202, 5);
}

#block-estrelladelevante-primary-local-tasks ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 35%;
  margin: 0 auto;
  margin-top: 1em;
}

#block-estrelladelevante-primary-local-tasks ul li{
  padding: 1em 2em;
  background-color: rgb(140, 212, 142);
  font-weight: bold;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
#block-estrelladelevante-primary-local-tasks ul li:hover{
  background-color: rgb(44, 161, 48);
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}
#block-estrelladelevante-primary-local-tasks ul li a{
  color: black;
  text-decoration: none;
}
#block-estrelladelevante-primary-local-tasks ul li a:hover{
  color: rgb(232, 232, 22);
}
#block-estrelladelevante-primary-local-tasks .contextual{
  visibility: hidden;
}

.owl-item{
  background-color: #006432;
}

.owl-item .fila-carrusel{
  display: grid;
  justify-content: space-between;
  color: white;
  margin-left: 16%;
}
.owl-item .fila-carrusel div:first-child{
  width: 45%;
  grid-column: 1;

}
.owl-item .fila-carrusel div:nth-child(2){
  width: 45%;
  grid-column: 2;
  margin-left: 2em;
}
.owl-item .fila-carrusel div:nth-child(3){
  width: 80%;
  grid-column: 2;
  margin-top: -45%;
  margin-left: 2em;
}
.owl-item img{
  width: 500px !important;
  height: 516px !important;
}

#block-views-block-noticias-corporativas-block-1-2{
  background-color: white !important;
}

.pager{
  margin-bottom: 2em;
}
.item-list ul{
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.item-list ul li{
  max-width: 33.33333%;
}
.item-list ul li a{
  color: #006432;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}
.item-list ul li a:hover{
  color: rgb(232, 202, 5);
}
.item-list ul li img{
  width: 314px;
  aspect-ratio: auto 314 / 177;
  height: 177px;
}
#views-exposed-form-noticias-page-1{
  width: 50%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2em;
}

#views-exposed-form-noticias-page-1 input[type="text"]{
  color: #006432;
  font-weight: 500;
  font-size: 1.07rem;
  border-bottom: 1px solid #006432;
  padding: 6px 0;
  margin-top: 0;
}
#views-exposed-form-noticias-page-1 select{
  border-bottom: 1px solid #006432;
  padding: 6px 0;
  background-color: transparent;
  border-radius: 0;
  color: #006432;
  font-weight: 500;
  font-size: 1.07rem;
}
#views-exposed-form-noticias-page-1 input[type="submit"]{
  background-color:#006432;
  color: white;
  font-size: 14px;
  margin-top: 0;
  margin-left: 2em;
  margin-bottom: 1em;
  text-decoration: none;
  border-radius: 5px;
  height: 35px;
  padding-bottom: 1em;
}

#block-views-block-noticias-corporativas-block-1-2{
  padding: 5%;
}

.paragraph.paragraph--type---como-llegar-.paragraph--view-mode--default{
  background-color: #fff !important;
  padding: 5% !important;
  color: #034624;
}


div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"]{
  display: flex;
  flex-wrap: wrap;
}
div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"] > div{
  width: 100%;
  display: grid;
}
div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"] div[data-quickedit-field-id *= "/field_titulo_bloque/"]{
  width: 516px;
  font-size: 2.86rem;
  line-height: 4.64rem;
  font-family: "Superclarendon", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.41px;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
  margin-top: 115px;
  padding-top: 1em;
  margin-left: 115px;
}
div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"] div[data-quickedit-field-id *= "/body/"]{
  width: 636px;
  grid-column: 1;
  grid-row: 1;
  margin-top: 35%;
  margin-left: 115px;
  margin-bottom: 115px;
}
div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"] div[data-quickedit-field-id *= "/field_imagen_portada/"]{
  grid-column: 2;
  grid-row: 1;
  margin-top: 5%;
  margin-top: 115px;
  margin-right: 115px;
  margin-bottom: 115px;
}

div[data-quickedit-field-id="node/14/field_contenido_de_la_pagina/es/full"] div[data-quickedit-field-id *= "/field_imagen_portada/"] img{
  height: 450px !important;
}

#block-customformblockjl{
  width: 50%;
  text-align: left;
  margin-top: -34%;
  margin-left: 27%;
}
#block-customformblockjl input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select.form-select {
  background: transparent;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  color: #dda800;
  font-size: 1.14rem;
  line-height: 1.43rem;
  font-weight: bold;
  border-bottom: 1px solid #fff !important;
  outline: none;
}
#block-customformblockjl input{
  color: white !important;
  font-size: 17px;
}
#block-customformblock .js-form-item .form-item .js-form-type-radio .form-item-data-protection .js-form-item-data-protection{
  display: flex;
}
#block-customformblockjl input[type="radio"]{
  width: 5%;
}
#block-customformblockjl label[for="edit-data-protection"]{
  width: 95% !important;
  color: white !important;
}
textarea {
  background-image: linear-gradient(transparent, transparent 34px, white 34px, white 35px, transparent 34px);
  background-size: 100% 36px;
  font-size: 1.14rem;
  line-height: 36px;
  font-weight: bold;
  color: #dda800;
  border: none !important;
  background-color: #006432;
  height: 144px;
  resize: none !important;
  outline: none;
  overflow: hidden;
  caret-color: #dda800;
}
input[type="submit"], input[type="reset"], input[type="button"], button {
  background: none;
  border: 0;
  text-decoration: underline;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 2em;
}

input[type="submit"]:hover{ color:#dda800 !important; }